@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Medium'), local('GTWalsheim-Medium'),
      url('../font/GTWalsheim-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Regular'), local('GTWalsheim-Regular'),
      url('../font/GTWalsheim-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Bold'), local('GTWalsheimBold'),
      url('../font/GTWalsheimBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-text-clr:#26666B;
  --main-title-clr:#00343D;
  --main-bg-clr:#00D8A0;
  --white: #fff;
  --gray:#D3DFE1;
  --green:#0BD8A2;
  --light-green: #DAFFF5;
}

h1,
h2,
h3,
p,
a,
ul,
li,
button {
  font-family: 'GT Walsheim','Didact Gothic' , sans-serif;
}

body {
  margin: 0;
}

p {
  font-size: 1.125em;
  line-height: 144%;
  color: var(--main-text-clr);
}

.title-primary {
  font-weight: bold;
  font-size: 2em;
  line-height: 106%;
  letter-spacing: -0.533333px;
  color: var(--main-title-clr);
}

.title-secondary {
  font-weight: bold;
  color: var(--main-title-clr);
  font-size: 1.5em;
  line-height:  108%;
  letter-spacing: -0.4px;
}

.title-tertiary {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 120%;
  letter-spacing: -0.3333333333px;
  color: var(--main-title-clr);
}

.text-center {
  text-align: center;
}

.center-self {
  margin: 0 auto;
  display: block;
}

.container {
  width: 360px;
  margin:0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.flex--between {
  justify-content: space-between;
}

.flex--center {
  justify-content: center;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.width100 {
  width:100%;
}

.display-none {
  display: none;
}

.display-none-mb {
  display: none;
}

.clear-both {
  clear:both
}

/*-------------------------------buttons------------------*/
.btn-base {
  /*position: relative;*/
  padding: 14px 66px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.3px;
  color: var(--main-title-clr);
  border:0;
  border-radius: 35px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: var(--green);
}

.btn-primary:hover {
  color: var(--white);
}

.btn-secondary {
  background-color: var(--light-green);
}
.btn-secondary:hover {
  background-color: var(--green);
}

.btn-primary:focus, 
.btn-secondary:focus {
  color: var(--main-title-clr);
  background-color: var(--gray);
}

.btn-header {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.204382));
  background-color: var(--white);
}

.btn-header:hover {
  background-color: var(--main-title-clr);
  color:var(--white);
  filter: none;
}

.btn-header:focus {
  background-color: var(--main-text-clr);
  color:var(--main-title-clr);
  filter: none;
}

/* -------------------------------END buttons--------------------------------*/
/*--------------------------------section NAV--------------------------------*/

.nav {
  width: 100%;
  height: 62px;
  padding-top: 26px;
  padding-bottom: 26px;
  z-index: 10;
  position: fixed;
  transition: height 0.25s ease-in, background 0.25s ease-out;
  overflow: hidden;
}

.nav.open {
  transition: height 0.25s ease-in, background 0.25s ease-in;
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--white);
}
.nav.fixed{
  transition: background 0.25s ease-in;
  background: var(--white);
}


.nav__menu-toggle, 
.nav__logo,
.nav__phone-image {
  filter: grayscale(0) brightness(0);
}

.open.nav__menu-toggle, 
.open .nav__logo,
.open .nav__phone-image {
  filter: none;
}

.nav__logo {
  z-index: 12;
  height:fit-content;
}

.nav__phone {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin:10px 0;
  z-index: 12;
}

.nav__menu-toggle {
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  border: 0 transparent;
  background: none;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 15px 0;
}

.nav__menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 6px;
  position: relative;
  background: var(--main-title-clr);
  z-index: 12;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

.nav__menu-toggle.open span:first-child {
  transform: rotate(45deg) translate(0px, 0px);
  background: var(--main-bg-clr);
}

.nav__menu-toggle.open span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__menu-toggle.open span:last-child {
  transform: rotate(-45deg) translate(0px,0px);
  background: var(--main-bg-clr);
}

.nav__menu {
  position: absolute;
  width: 100%;
  padding: 100px 0 0 0;
  height: calc(100% - 100px);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-200%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  z-index: 11;
}

.nav__list {
  list-style-type: none;
  padding: 0;
}

.nav__list li {
  position: relative;
  padding: 10px 0;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.nav__list li a,
.nav__phone {
  text-decoration: none;
  color: var(--main-title-clr);

}

.nav__list li a:hover + span,
.nav__list li a:active + span {
  border-radius: 100%;
  display: block;
  background: black;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 8px);
}

.nav__contact {
  margin-top: 50px;
}

.nav__contact a {
  font-weight: bold;
  background: var(--green);
  border-radius: 50px;
  padding: 10px 25px;
}

.nav__menu.open {
  transform: none;
}

/*------------------------phone tooltip--------------------*/
.nav__phone .nav__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 12;
  right: 105%;
}

.nav__phone:hover .nav__tooltip {
  visibility: visible;
}

.nav__phone .nav__tooltip::after {
  content: " ";
  position: absolute;
  top: 9px;
  left: 100%; /* To the right of the tooltip */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
/*-----END phone tooltip-----*/

/*-------------END section NAV--------------------*/
/*-------------- section banner-------------------*/
.banner {
  text-align: center;
  padding-top: 140px;
}

.banner__title{
  margin: 70px 0 0 0;
}

.banner__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.banner__btn {
  margin-top:40px;
}

/*-----------------------END section banner-------------------*/
/*-----------------------section whatwedo---------------------*/

.whatwedo__subtitle{
  margin: 33px 0 0 0;
}

/*-----------------------END section whatwedo---------------------*/
/*-----------------------section end to end-----------------------*/

.endtoend__title {
  margin-top: 62px;
  margin-bottom: 40px;
  /*background-image: url("../svg/endtoend.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;*/
}

.endtoend__subtitle {
  margin:0;
  width: 280px;
}

.endtoend__subtext {
  margin:25px 0 0 0;
}

.endtoend__img {
  object-fit: contain;
  display: block;
  width: 329px;
  margin: 24px auto 20px auto;
}

.endtoend__img--right {
  width: 360px;
  margin: 24px auto 29px auto;
}

.endtoend__list{
  margin: 9px 0 0 0;
  padding: 0 0 0 23px;
  font-weight: normal;
  font-size: 1em;
  line-height:  144%;
  color: var(--main-text-clr);
  position: relative;
  list-style: none;
}

.endtoend__button {
  width: 222px;
}

/*-----------------------END section end to end--------------*/
.division-line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--gray);
  margin: 79px 0 56px 0;
}
/*-----------------------section explore---------------------*/

.explore {
  margin-bottom:40px;
}

.explore__2 {
  object-fit: contain;
  width:100%;
  height: 453px;
}

.explore__3 {
  margin:41px auto 0 auto;
}

.explore__subtitle {
  width:250px;
}

/*-----------------------END section explore---------------------*/
/*-----------------------section collaborative------------------*/

.collaborative__title {
  text-align: center;
  margin-top: 38px;
}

.collaborative__button {
  width:222px;
  margin-top: 32px;
}

.collaborative__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 283px;
  margin:0 auto;
}

/*-----------------------END section collaborative-------------*/
/*-----------------------section icon grid---------------------*/
.grid__block {
  margin-top: 31px;
}

.grid__titleblock {
  display: flex;
  width: 100%;
}

.grid__icon {
  width: 48px;
  height: 48px;
}

.grid__title {
  width: 178px;
  height: 48px;
  margin:0 0 0 12px;
}
/*-----------------------END section icon grid-------------------*/

.division-line--too {
  margin:46px 0;
}

/*-----------------------section brands--------------------------*/

.brands-and-cards__title {
  /*background-image: url("../svg/sec5_background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;*/
  margin:54px auto 40px auto;
  width: 324px;
}

.brand__logo,
.partner__logo {
  height: 60px;
  width: 138px;
  margin:0 38px;
}

.brand__logo {
  filter: grayscale(100%);
  width: 100px;
}

.brand__logo.slick-center {
  filter: grayscale(0);
}

.card-slider {
  margin-top: 84px;
}

.card.slick-slide {
  border-radius: 10px;
  background-color: #F7F7F7;
  width: 390px;
  height: 372px;
  text-align: center;
  margin: 0  4px;
}

.card:hover {
  background-color: var(--light-green);
  filter: drop-shadow(0px 3px 8px rgba(38, 102, 107, 0.142947));
}

.card__ring {
  background-image: url("../svg/card_ring.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 22px;
  margin-top: 20px;
}

.card__img {
  display: block;
  margin: 0 auto;
}

.card__text {
  font-size: 1.2em;
  line-height:  133%;
  margin-top:40px;
  margin-bottom:0;
}

.card__name {
  font-size: 1.2em;
  font-weight: bold;
  line-height:  133%;
  letter-spacing: -0.3px;
  margin-top:17px;
  margin-bottom:0;
}

.card__info {
  font-size: 1em;
  line-height: 19px;
  letter-spacing: -0.114286px;
  margin-top:0;
  margin-bottom:27px;
}

.industry-slider {
  margin-top:40px;
  margin-bottom: 82px;
}

.industry__card.slick-slide {
  width: 250px;
  height: 349px;
  filter: drop-shadow(0px 2px 4px rgba(0, 52, 61, 0.160621));
}

.industry__img {
  width:100%;
  height: 250px;
  margin:0;
  object-fit: contain;
}

.industry__name {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 21px;
}

.partner {
  margin-top:40px;
}

.partner__slider {
  margin: 48px auto 71px auto;
}

/*-----------------------------------footer-----------------------------------*/

.footer {
  background-color: var(--main-bg-clr);
  padding-top: 32px;
  padding-bottom:48px;
}

.footer__logo {
  margin-bottom: 43px;
}

.footer__koombea {
  width: 186px;
  height: 52px;
  object-fit: contain;
}

.footer__block {
  width :139px;
  height: 247px;
  flex:1;
  text-align: left;
}

.footer__title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.3333333333px;
  margin:0;
}

.footer__list {
  line-height: 44px;
  color: var(--main-title-clr);
  list-style: none;
  padding-left: 0;
}

.footer__bottom {
  margin:53px auto 0 auto;
  text-align: center;
}

.footer__call {
  font-size: 14px;
  line-height: 16px;
  margin:0;
}

.footer__phoneno {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.333333px;
  margin: 2px 0 26px 0;
}

.footer__logos {
  margin:0 auto;
  width: 168px;
}

.footer__info {
  font-size: 0.8em;
  line-height: 123%;
  text-align: center;
  color: var(--main-title-clr);
  opacity: 0.6;
  margin-top: 45px;
  width: 320px;
}

/*===============================================================================*/
@media only screen and (min-width: 834px){
  .container {
    width: 780px;
  }

  .text-center-md {
    text-align: center;
  }

  .title-primary {
    font-size: 3em;
    line-height: 104%;
    letter-spacing: -0.8px;
  }

  .title-secondary {
    font-size: 2em;
    line-height: 106%;
    letter-spacing: -0.533333px;
  }

  .title-tertiary {
    font-size: 2em;
    line-height:  106%;
    letter-spacing: -0.533333px;
  }

  .flex--column-md {
    flex-direction: column;
  }

  .display-none-mb {
    display: block;
  }

  /*--------------section NAV----------------------*/
  .nav {
    padding-top: 32px;
  }

  .nav__menu-toggle {
    padding: 17px 0;
  }
  .nav__phone {
    margin: 12px 0;
  }

  /*-------------END section NAV--------------------*/
  /*-------------- section banner-------------------*/

  .banner {
    text-align: left;
    position: relative;
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }

  .banner__title {
    width: 57%;
    margin:0;
    height: 200px;
  }

  .banner__img {
    position: absolute;
    right: 0;
    bottom:28px;
    width: auto;
  }

  .banner__btn {    
    width: 170px;
    text-align: left;
    padding: 14px 40px;
    margin-bottom: 68px;
    margin-top: 41px;
  }

  /*-----------------------END section banner-------------------*/
  /*-----------------------section whatwedo---------------------*/

  .whatwedo__p {
    width: 642px;
    line-height: 26px;
    margin: 16px auto 0 auto;
  }

  .whatwedo__subtitle {
    margin-top:106px;
  }

  /*-----------------------END section whatwedo---------------------*/
  /*-----------------------section end to end-----------------------*/
  
  .endtoend__title {
    background-image: url("../svg/endtoend_big.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 65px auto 0 auto;
    width: 658px;
  }

  .endtoend__row {
    margin-top: 46px;
  }

  .endtoend__img {
    width: 283px;
    margin: 0 42px 0 0;
  }

  .endtoend__img--right {
    width: 316px;
    margin: 0 0 0 9px;
  }

  .entoend__text {
    display: block;
    width: 316px;
  }

  .endtoend__subtitle {
    width: inherit;
  }
  
  .endtoend__subtext {
    margin:21px 0 0 0;
    width: inherit;
  }

  .endtoend__list {
    font-size: 18px;
    line-height: 28px;
    width: 287px;
    margin: 20px 0 0 0;
    padding: 0 0 0 30px;
  }

  .endtoend__button {
    margin-top: 50px;
    width: 154px;
    padding: 14px 48px;
  }

  /*-----------------------END section end to end-------------*/

  .division-line {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  /*-----------------------section explore---------------------*/

  .explore {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 62px;
    height: 500px;
  }

  .explore__1 {
    text-align: left;
    width: 333px;
  }

  .explore__3 {
    order:2;
    margin:54px 0 0 0;
    width: 115px;
  }

  .explore__2 {
    height: 448px;
    width: 376px;
    object-fit: contain;
    order: 3;
    flex: 1 0 34%;
    margin:0;
  }

  .explore__title {
    margin: 14px 0 0 0;
  }

  .explore__subtitle {
    width: inherit;
    margin: 10px 0 14px 0;
  }

  .explore__text {
    width: 316px;
    font-size: 18px;
    line-height: 28px;
  }

  /*-----------------------END section explore---------------------*/
  /*-----------------------section collaborative------------------*/

  .collaborative__button {
    width:234px;
  }
  .collaborative__img {
    width: 618px;
    height: 418px;
  }
  .collaborative__title {
    width: 640px;
    margin: 0 auto;
    margin-top: 31px;
  }

  .collaborative__text {
    width: 640px;
    margin: 0 auto;
    margin-top: 20px;
  }

  /*-----------------------END section collaborative-------------*/
  /*-----------------------section icon grid---------------------*/

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid__block {
    width: 290px;
    margin: 45px auto 0 auto;
  }

  .grid__icon {
    height: 75px;
    width: 75px;
  }

  .grid__title {
    height: 68px;
    margin:29px 0 0 0;
    width: inherit;
  }

  .grid__text {
    width: inherit;
    font-size: 18px;
    line-height: 28px;
  }

  /*-----------------------END section icon grid-------------------*/
  /*-----------------------section brands--------------------------*/

  .brands-and-cards__title {
    /*background-image: url("../svg/endtoend_big.svg");*/
    width: 636px;
    margin:86px auto 42px auto;
  }

  /*-----------------------END section brands-----------------------*/
  /*------------------------------------footer----------------------*/
  .footer {
    background: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 36px;
  }

  .footer__columns {
    float:right;
    width:60%;
  }

  .footer__logo,
  .footer__bottom {
    float:left;
    width: 30%;
    text-align: left;
    margin-bottom: 0;
  }

  .footer__logos {
    width: 168px;
    margin:0;
  }

  .footer__title {
    font-weight: bold;
    color: var(--main-title-clr);
    margin-top: 15px;
  }

  .footer__list {
    line-height: 32px;
    opacity: 0.7;
  }

  .footer__info {
    height: 30px;
    width:202px;
    font-size: 13px;
    text-align: left;
    opacity: 0.6;
    margin-top:31px;
  }

  .footer__bottom {
    margin-top:13px;
  }

  .footer__call {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    opacity: 0.6;
  }

  .footer__phoneno {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.266667px;
    text-align: left;
  }

  .footer__top {
    width: 30px;
    height: 32px;
    border:0;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 6px 9px 5px 10px;
    position: absolute;
    right: 0;
    top:0;
  }
}






/*===============================================================================*/
  @media only screen and (min-width: 1441px){
    .container {
      width: 1200px;
    }

    .container-big-only {
      width: 1200px;
      margin: 0 auto;
    }

    .title-primary {
      font-size: 3em;
      line-height: 104%;
      letter-spacing: -0.8px;
    }

    .title-secondary {
      font-size: 2em;
      line-height: 106%;
      letter-spacing: -0.533333px;
    }

    .title-tertiary {
      font-size: 2em;
      line-height:  106%;
      letter-spacing: -0.533333px;
    }

    .display-none-lg {
      display: none;
    }

    /*--------------------------------section NAV---------------------------------*/

    .nav.open {
      height: inherit;
      background: initial;
    }

    .nav.open.fixed {
      background: var(--white);
    }

    .nav__menu {
      position: relative;
      display: inline-flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      background: none;
      transform: none;
    }

    .nav__list li {
      display:inline;
      padding: 12px 21px;
      font-weight: normal;
    }

    .nav__list li a:focus {
      font-weight: bold;
    }

    .nav__contact {
      margin-top: 0;
      padding-left: 40px;
    }

    .nav__contact a {
      background: none;
      padding: 0;
    }
    /*--------------------------------END section NAV--------------------------*/
    /*-------------------------------- section banner--------------------------*/
    .banner {
      background-image: url("../images/header-big.png");
      padding-top: 218px;
    }

    .banner__img {
      width: 490px;
      height: 490px;
      right: 90px;
    }

    .banner__btn {
      width: auto;
      margin-bottom: 87px;
    }

    .banner__title {
      font-size: 3.75em;
      line-height: 103%;
      letter-spacing: -1px; 
      height:186.12px;
    }

    /*-----------------------END section banner-------------------------*/
    /*-----------------------section end to end-------------------------*/

    .endtoend {
      margin-bottom: 53px;
    }

    .endtoend__title {
      background-image: url("../svg/endtoend_big.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 80px auto 43px auto;
    }

    .endtoend__img {
      width: 437px;
      height: 416px;
      margin-right: 164px;
    }

    .endtoend__img--right {
      width: 490px;
      height: 383px;
      margin-right: 0;
      margin-left: 100px;
    }

    .entoend__text {
      padding-top:93px;
      width: 440px;
    }

    .endtoend__text--2nd {
      padding-top:0;
      width: 402px;
    }

    .endtoend__subtext {
      width: 389px;
    }

    .endtoend__list {
      margin-top: 19px;
      font-size: 18px;
      line-height: 28px;
      color: var(--main-text-clr);
      padding-left: 30px;
      width: 372px;
      height: 207px;
    }

    .endtoend__list li:before {
      content: "+";
      position: absolute;
      left: 0;
      color:var(--green);
    }

    .endtoend__button {
      padding: 14px 56px;
    }

    /*-----------------------END section end to end-----------------*/
    .division-line {
      margin-top: 114px;
    } 
    /*-----------------------section explore--------------------------*/

    .explore__1 {
      width: 390px;
    }

    .explore__title {
      margin: 88px 0 0 0;
    }

    .explore__text {
      width: 390px;
    }

    .explore__2 {
      width: 470px;
      height: 560px;
      margin-left: 101px;
    } 

    /*-----------------------END section explore--------------------------*/
    /*-----------------------section collaborative-----------------------*/
    .collaborative__img {
      width: 790px;
      height: 535px;
    }

    .collaborative__text {
      width: 790px;
    }

    .collaborative__title {
      width: 100%;
    }

    .collaborative__button {
      width: 178px;
      margin-top: 48px;
    }
    /*-----------------------END section collaborative-------------*/
    /*-----------------------section icon grid---------------------*/
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .grid__block {
      margin: 55px auto 0 auto;
    }
    /*-----------------------END section icon grid---------------------*/
    /* ---------------------section brands-----------------------------*/
    .brands-and-cards__title {
      margin:100px auto 80px auto;
    }
    /* ---------------------END section brands------------------------*/
    /*------------------------------------footer-----------------------*/

    .footer__logo,
    .footer__bottom {
      width: 50%;
    }

    .footer__columns {
      width: 50%;
    } 

    .footer__info {
      width:349px;
    }
  }