
@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Medium'), local('GTWalsheim-Medium'),
      url('../font/GTWalsheim-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Regular'), local('GTWalsheim-Regular'),
      url('../font/GTWalsheim-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Bold'), local('GTWalsheimBold'),
      url('../font/GTWalsheimBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'GT Walsheim','Didact Gothic' , sans-serif;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

p {
  font-size: 1.125em;
  line-height: 144%;
  color: #26666B;
}

.center-content {
  text-align: center;
}

.center-block {
  margin: 0 auto;
  display: block;
}

/*--------------------------------seccion NAV---------------------------------*/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 26px 28px 0 28px;
}

.closed.nav_menu-toggle, 
.closed .nav_logo,
.closed .nav_phone-image {
  filter: grayscale(0) brightness(0);
}

.nav_logo {
  position: relative;
  z-index: 2;
}

.nav_logo--big {
  display: none;
}

.nav_logo--small {
  height: 44px;
  width: 44px;
}

/*------phone tooltip-----*/
.nav_phone {
  position: relative;
  display: inline-block;
  margin:10px 0;
  z-index: 2;
}

.nav_phone .nav_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: -5px;
  right: 105%;
}

.nav_phone:hover .nav_tooltip {
  visibility: visible;
}
.nav_phone .nav_tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
/*-----end phone tooltip-----*/

.nav_menu-toggle {
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  background: none;
  border: 0 transparent;
  outline: none;
  cursor: pointer;
  height: 100%;
  width: 24px;
  padding: 15px 0;
}

.nav_menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 6px;
  position: relative;
  background: #00343D;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

/*.nav_menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.nav_menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}*/

.nav_menu-toggle.open span:first-child {
  transform: rotate(45deg) translate(0px, 0px);
  background: #00D8A0;
}

.nav_menu-toggle.open span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav_menu-toggle.open span:last-child {
  transform: rotate(-45deg) translate(0px,0px);
  background: #00D8A0;
}

.nav_menu {
  position: absolute;
  width: 100%;
  margin: -26px 0 0 -28px;
  padding: 100px 0 0 0;
  height: calc(100% - 100px);
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  list-style-type: none;
  z-index: 1;
}

.nav_menu li {
  position: relative;
  padding: 10px 0;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.nav_menu li a,
.nav_phone {
  text-decoration: none;
  color: #00343D;

}
.nav_menu li a:hover + span,
.nav_menu li a:active + span {
  border-radius: 100%;
  display: block;
  background: black;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 8px);
}


.nav_menu .contactLink {
  margin-top: 50px;
}

.nav_menu .contactLink a {
  font-weight: bold;
  background: #0BD8A2;
  border-radius: 50px;
  padding: 10px 25px;
}

.nav_menu.open {
  transform: none;
}

/*-------------fin seccion de NAV --------------------*/

.section1 {
  text-align: center;
  margin-top:70px;
}

.section1_title,
.section1_subtitle {
  margin: 33px 0 0 0;
}

.main-title {
  font-weight: bold;
  font-size: 2em;
  line-height: 106%;
  letter-spacing: -0.533333px;
  color: #00343D;
}

.secondary-title {
  font-weight: bold;
  color: #00343D;
  font-size: 1.5em;
  line-height:  108%;
  letter-spacing: -0.4px;
}

.third-title {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 120%;
  letter-spacing: -0.3333333333px;
  color: #00343D;
}

.section1_img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.section1_btn {
  margin-top:40px;
}

.global-padding {
  padding-right: 27px;
  padding-left: 27px;
}

.main-list {
  margin-top: 0;
  font-weight: normal;
  font-size: 1em;
  line-height:  144%;
  color: #26666B;
  position: relative;
  list-style: none;
  /*margin-left: 30px;*/
  padding-left: 24px;
}
/*.main-list li:before {
  content: "+";
  position: absolute;
  left: 0;
  color:#0BD8A2;
}*/
/*-----------------------------------------------buttons*/
.button-base {
  position: relative;
  width: 211px;
  height: 54px;
  padding: 11px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #00343D;
  border:0;
  border-radius: 35px;
}

.button-primary {
  background-color: #0BD8A2;
}

.button-primary:hover {
  color: #fff;
}

.button-secondary {
  background-color: #DAFFF5;
}
.button-secondary:hover {
  background-color: #0BD8A2;
}

.button-primary:focus, 
.button-secondary:focus {
  color: #00343D;
  background-color: #D3DFE1;
}

.button-header {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.204382));
  background-color: #fff;
}

.button-header:hover {
  background-color: #00343D;
  color:#fff;
  filter: none;
}

.button-header:focus {
  background-color: #26666B;
  color:#00343D;
  filter: none;
}

.endtoend_button {
  width:100%;
  margin-top: 29px;
}
/* ---------------------------------end buttons ----*/

.endtoend-title {
  margin-top: 62px;
  margin-bottom: 40px;
  background-image: url("../svg/endtoend.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.endtoend_subtitle {
  margin:0;
}

.endtoend_subtext {
  margin:25px 0 0 0;
}
.endtoend_img {
  object-fit: contain;
  display: block;
  width: 100%;
  max-width: 329px;
  margin:0 auto;
}
.endtoend_img--right {
  object-fit: contain;
  display: block;
  width: 100%;
  max-width: 360px;
  margin:0 auto;
}

.collaborative_img {
  display: block;
  object-fit: contain;
  width: 100%;
  max-width: 417px;
  margin:0 auto;
}

.division-line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #D3DFE1;
  /*border: 1px solid #D3DFE1;*/
  margin: 79px 0 56px 0;
}

.explore_2 {
  object-fit: contain;
  width:100%;
  max-width: 360px;
  height: 281px;
}

.explore_3 {
  margin-top:41px;
  margin-bottom:40px;
}

.collaborative_title {
  text-align: center;
  margin-top: 38px;
}


.grid_block {
  margin-top: 31px;
}

.grid_titleblock {
  display: flex;
  width: 100%;
}

.grid_icon {
  width: 48px;
  height: 48px;
}

.grid_title {
  width: 178px;
  height: 48px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.333333px;
  margin:0 0 0 12px;
}

.collaborative_button {
  width:100%;
  margin-top: 32px;
}
/*------------*/

.trust-bg {
  background-image: url("../svg/sec5_background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0 auto;
  margin-top:54px;
  margin-bottom: 40px;
}


/*-----------------------slider--------------------------*/
.division-line--too {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #D3DFE1;
  margin:46px 0;
}


.brand_logo,
.partner_logo {
  height: 60px;
  width: 138px;
  margin:0 38px;
}

.brand_logo {
  filter: grayscale(100%);
  max-width: 100px;
}

.brand_logo.slick-center {
  filter: grayscale(0);
}

.card-slider {
  margin-top: 84px;
}

.card.slick-slide {
  border-radius: 10px;
  background-color: #F7F7F7;
  position: relative;
  width: 390px;
  height: 372px;
  text-align: center;
  margin: 0  4px;
}

.card:hover {
  background-color: #DAFFF5;
  filter: drop-shadow(0px 3px 8px rgba(38, 102, 107, 0.142947));
}

.card_ring {
  background-image: url(../svg/card_ring.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 22px;
  margin-top: 20px;
}

.card_img {
  display: block;
  margin: 0 auto;
}

.card_text {
  font-size: 1.2em;
  line-height:  133%;
  align-items: center;
  text-align: center;
  margin-top:40px;
  margin-bottom:0;
}
.card_name {
  font-size: 1.2em;
  font-weight: bold;
  line-height:  133%;
  letter-spacing: -0.3px;
  align-items: center;
  text-align: center;
  margin-top:17px;
  margin-bottom:0;
}
.card_info {
  font-size: 1em;
  line-height: 19px;
  letter-spacing: -0.114286px;
  align-items: center;
  text-align: center;
  margin-top:0;
  margin-bottom:27px;
}

.industry-slider {
  margin-top:40px;
  margin-bottom: 82px;
}

.industry.slick-slide {
  width: 250px;
  height: 349px;
  filter: drop-shadow(0px 2px 4px rgba(0, 52, 61, 0.160621));
}

.industry_img {
  width:100%;
  height: 250px;
  margin:0;
  object-fit: contain;
}

.industry_name {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 21px;
}


.partner-title {
  margin-top:40px;

}.partner-slider {
  margin: 48px auto 71px auto;
}

/*-----------------------------------footer-----------------------------------*/


.footer {
  background-color: #00D8A0;
  padding-top: 32px;
  padding-bottom:48px;
}

.footer_logo {
  margin-bottom: 43px;
  display: inline-block;
  width: -webkit-fill-available;
}

.footer_block {
  width: 50%;
  float:right;
  text-align: left;
}

.footer_list {
  height: 220px;
  font-size: 1em;
  line-height:  275%;
  color: #00343D;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.footer_bottom {
  margin:53px auto 0 auto;
  clear: both;
  width: 50%;
  text-align: center;
  
}

.footer_logos {
  display: flex;
  justify-content: space-between;
  margin-top:26px;
  max-width: 168px;
}

.footer_info {
  font-size: 0.8em;
  line-height: 123%;
  text-align: center;
  color: #00343D;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 45px;
}

















@media only screen and (min-width: 834px) {
  body {
    background-image: url("../images/header.png");
  }
  .global-padding {
    padding-right: 97px;
    padding-left: 97px;
  }

  .center-content-mid {
    text-align: center;
  }

  .main-title {
    font-size: 3em;
    line-height: 104%;
    letter-spacing: -0.8px;
  }
  .secondary-title {
    font-size: 2em;
    line-height: 106%;
    letter-spacing: -0.533333px;
  }
  .third-title {
    font-size: 2em;
    line-height:  106%;
    letter-spacing: -0.533333px;
  }

  /*------------------------------------nav------------------------------------------*/
  .nav {
    padding: 32px 31px 0 31px;
  }

  .nav_logo--big {
    display: block;
  }
  .nav_logo--small {
    display: none;
  }

  .nav_menu-toggle {
    padding: 17px 0;
  }
  .nav_phone {
    margin: 12px 0;
  }
  /*------------------------------------header------------------------------------------*/
  .nav_menu {
    margin: -32px 0 0 -31px;
  }
  .section1 {
    text-align: left;
    padding: 0 29px;
    margin-top: 48px;
    position: relative;
  }

  .section1_title {
    width: 60%;
    margin:0;
  }

  .section1_img {
    position: absolute;
    z-index: -1;
    right: 32px;
    /*top: 155px; from page top*/
    /*bottom:0;*/
    top:23px;
    width: auto;
  }

  .section1_p {
    max-width: 788px;
    line-height: 26px;
    margin: 0 auto;
  }

  .section1_subtitle {
    margin-top:106px;
  }

  .section1_btn {
    width: 251px;
    height: 54px;
    text-align: left;
    padding: 0 41px;
  }

  /* ----------------------------------body -------------------------------------------*/
  
  .section-margin {
    margin-top:65px;
  }

  .endtoend {
    display: flex;
    flex-wrap: wrap;
    margin-top: 46px;
  }

  .endtoend.reverse {
    flex-direction: row-reverse;
  }

  .endtoend-title {
    background-image: url("../svg/endtoend_big.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
  }

  .entoend_text {
    display: block;
    flex:1;
  }
  .endtoend_img {
    width: 283px;
    margin-right: 42px;
  }
  .endtoend_img--right {
    width: 316px;
    margin-left: 42px;
  }
  
  .endtoend_subtext {
    margin:21px 0 0 0;
  }

  .endtoend_button {
    margin-top: 50px;
  }



  .division-line {
    margin: 50px 0 65px 0;
  }



  .explore-wrap {
    position: relative;
  }

  .explore_1 {
    text-align: left;
    width: 50%;
    float:left;
    order:1;
  }

  .explore_2 {
    height: 448px;
    object-fit: contain;
    order: 3;
    width: 50%;
    float: right;
    
    /*position: absolute;*/
    /*width: 378px;*/
    /*top: 0;*/
    /*right: 32px;*/
    /*right:-65px;*/
  }

  .explore_3 {
    order:2;
    clear: left;
    float: left;
  }

  .collaborative {
    text-align: center;
    clear: both;
    background-image: url("../svg/sec3_background.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid_block {
    flex: 1 0 34%;
    /*margin: 23px 17px;*/
    margin: 45px 34px 0 0;
  }

  .grid_titleblock {
    flex-direction: column;
  }

  .grid_icon {
    height: 75px;
    width: 75px;
  }

  .grid_title {
    height: 68px;
    margin:29px 0 0 0;
    width: 100%;
  }

  .endtoend_button {
    width:250px;
  }

  .collaborative_button {
    width:380px;
  }
  /*------------------------------------footer-----------------------*/

  .footer {
    background: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer_block {
    float:right;
    width:33%;
  }

  .footer_logo,
  .footer_bottom {
    float:left;
    width: 30%;
    clear:none;
    text-align: left;
    margin-bottom: 0;
  }
  .footer_logos {
    max-width: 168px;
  }

  .footer_title {
    font-weight: bold;
    font-size: 1.125em;
    line-height: 21px;
    letter-spacing: -0.3333333333px;
    color: #00343D;
  }

  .footer_info {
    height: 30px;
    width:212px;
    font-size: 13px;
    line-height: 15px;
    mix-blend-mode: normal;
    text-align: left;
    opacity: 0.6;
  }

  .footer_bottom {
    margin-top:13px;
  }

  .ending {
    clear:both
  }

}























@media only screen and (min-width: 1441px) {
  body {
    background-image: url("../images/header-big.png");
    background-position-y: -1px;
  }

  .global-padding {
    padding-right: 225px;
    padding-left: 225px;
  }


  .main-title {
    font-size: 3em;
    line-height: 104%;
    letter-spacing: -0.8px;
  }
  .secondary-title {
    font-size: 2em;
    line-height: 106%;
    letter-spacing: -0.533333px;
  }
  .third-title {
    font-size: 2em;
    line-height:  106%;
    letter-spacing: -0.533333px;
  }

  /*------------------------------------nav------------------------------------------*/

  .nav {
    padding: 34px 125px 0 125px;
  }

  .nav_menu-toggle {
    display: none;
  }
  .nav_menu {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    background: none;
    transform: none;
  }
  .nav_menu li {
    display:inline;
    padding: 12px 21px;
    font-weight: normal;
  }
  .nav_menu li a:focus {
    font-weight: bold;
  }
  .nav_menu-toggle {
    display: none;
  }
  .nav_menu .contactLink a {
    background: none;
    padding: 0;
  }
  .nav_menu .contactLink {
    margin-top: 0;
    padding-left: 40px;
  }

  /*------------------------------------header------------------------------------------*/
  .section1 {
    padding: 0 125px;
    margin-top:132px;
  }
  .section1_img {
    display: none;
  }

  .section1_btn {
    width: auto;
  }

  .section1_title {
    font-size: 3.75em;
    line-height: 103%;
    letter-spacing: -1px;

  }

  /*-----------------------------------body------------------------*/

  .endtoend_img {
    width: 437px;
    height: 416px;
    margin-right: 164px;
  }
  .endtoend_img--right {
    width: 490px;
    height: 383px;
    margin-left: 100px;
  }

  .main-list {
    margin-top: 19px;
    font-weight: normal;
    font-size: 1.125em;
    line-height:  156%;
    color: #26666B;
    position: relative;
    list-style: none;
    padding-left: 24px;
  }
  .main-list li:before {
    content: "+";
    position: absolute;
    left: 0;
    color:#0BD8A2;
  }

  .endtoend_button {
    width: 290px;
    height: 54px;
  }



  .division-line {
    margin: 114px 0 148px 0;
  } 

  .explore_1{
    max-width: 390px;
  }

  .explore_2 {
    width: 470px;
    height: 560px;
  } 


  .collaborative {
    margin-top:54px;
    background-image: url(../svg/sec3_background_big.svg);
    background-position-y:171px;
  }

  .collaborative_img {
    width: 790px;
    height: 535px;
    max-height: 536px;
  }

  .collaborative_text {
    padding: 0 100px;
  }


  .grid_block {
    flex: 1 0 26%;
    margin: 23px 17px;
  }
  
  /*------------------------------------footer-----------------------*/

  .footer_block {
    float:right;
    width:25%;
  }

  .footer_logo,
  .footer_bottom {
    float:left;
    width: 50%;
    clear:none;
    text-align: left;
    margin-bottom: 0;
  }

  .footer_info {
    width:349px;
  }

}
