
@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Medium'), local('GTWalsheim-Medium'),
      url('../font/GTWalsheim-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Regular'), local('GTWalsheim-Regular'),
      url('../font/GTWalsheim-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: local('GT Walsheim Bold'), local('GTWalsheimBold'),
      url('../font/GTWalsheimBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'GT Walsheim','Didact Gothic' , sans-serif;
}

body {
  margin: 0;
}

p {
  font-size: 1.125em;
  line-height: 144%;
  color: #26666B;
}

.center-content {
  text-align: center;
}

.center-block {
  margin: 0 auto;
  display: block;
}

.container {
  width: 360px;
  margin:0 auto;
  position: relative;
}
/*--------------------------------seccion NAV---------------------------------*/

.nav {
  width: 100%;
  height: 62px;
  padding-top: 26px;
  padding-bottom: 26px;
  z-index: 10;
  /*position: absolute;*/
  position: fixed;
  transition: height background 0.25s ease-out;
  overflow: hidden;
}

.container--nav {
  display: flex;
  justify-content: space-between;
}

.nav.open {
  transition: height background 0.25s ease-in;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
}
.nav.fixed{
  transition: background 0.25s ease-in;
  background: #fff;
}


.nav__menu-toggle, 
.nav__logo,
.nav__phone-image {
  filter: grayscale(0) brightness(0);
}

.open.nav__menu-toggle, 
.open .nav__logo,
.open .nav__phone-image {
  filter: none;
}



.nav__logo {
  position: relative;
  z-index: 12;
  height:fit-content;
}

.nav__phone {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin:10px 0;
  z-index: 12;
}


.nav__menu-toggle {
  display: block;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  background: none;
  border: 0 transparent;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 15px 0;
}
.nav__menu-toggle.open {
  background: #fff;
}

.nav__menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 6px;
  position: relative;
  background: #00343D;
  z-index: 12;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

/*.nav__menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.nav__menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}*/

.nav__menu-toggle.open span:first-child {
  transform: rotate(45deg) translate(0px, 0px);
  background: #00D8A0;
}

.nav__menu-toggle.open span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__menu-toggle.open span:last-child {
  transform: rotate(-45deg) translate(0px,0px);
  background: #00D8A0;
}

.nav__menu {
  position: absolute;
  width: 100%;
  margin: -26px 0 0 0;/*nega*/
  padding: 100px 0 0 0;
  height: calc(100% - 100px);
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-200%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  list-style-type: none;
  z-index: 11;
}

.nav__menu li {
  position: relative;
  padding: 10px 0;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.nav__menu li a,
.nav__phone {
  text-decoration: none;
  color: #00343D;

}
.nav__menu li a:hover + span,
.nav__menu li a:active + span {
  border-radius: 100%;
  display: block;
  background: black;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 8px);
}


.nav__menu .contactLink {
  margin-top: 50px;
}

.nav__menu .contactLink a {
  font-weight: bold;
  background: #0BD8A2;
  border-radius: 50px;
  padding: 10px 25px;
}

.nav__menu.open {
  transform: none;
}

.nav__title {
  display: none;
}

/*------phone tooltip-----*/
.nav__phone .nav__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 12;
  top: -5px;/*nega*/
  right: 105%;
}

.nav__phone:hover .nav__tooltip {
  visibility: visible;
}
.nav__phone .nav__tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;/*nega*/
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
/*-----end phone tooltip-----*/

/*-------------fin seccion de NAV --------------------*/

.banner {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  padding-top: 140px;
}

.banner__title{
  margin: 70px 0 0 0;
}

.banner__ring {
  display: none;
}

.main-title {
  font-weight: bold;
  font-size: 2em;
  line-height: 106%;
  letter-spacing: -0.533333px;
  color: #00343D;
}

.secondary-title {
  font-weight: bold;
  color: #00343D;
  font-size: 1.5em;
  line-height:  108%;
  letter-spacing: -0.4px;
}

.third-title {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 120%;
  letter-spacing: -0.3333333333px;
  color: #00343D;
}

.banner__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.banner__btn {
  margin-top:40px;
}


.whatwedo__subtitle{
  margin: 33px 0 0 0;
}


/*-----------------------------------------------buttons*/
.button-base {
  position: relative;
  /*width: 211px;*/
  padding: 14px 66px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #00343D;
  border:0;
  border-radius: 35px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.button-primary {
  background-color: #0BD8A2;
}

.button-primary:hover {
  color: #fff;
}

.button-secondary {
  background-color: #DAFFF5;
}
.button-secondary:hover {
  background-color: #0BD8A2;
}

.button-primary:focus, 
.button-secondary:focus {
  color: #00343D;
  background-color: #D3DFE1;
}

.button-header {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.204382));
  background-color: #fff;
}

.button-header:hover {
  background-color: #00343D;
  color:#fff;
  filter: none;
}

.button-header:focus {
  background-color: #26666B;
  color:#00343D;
  filter: none;
}

.endtoend__button {
  width: -webkit-fill-available;
}
/* ---------------------------------end buttons ----*/

.endtoend-title {
  margin-top: 62px;
  margin-bottom: 40px;
  /*background-image: url("../svg/endtoend.svg");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.endtoend__subtitle {
  margin:0;
  width: 280px;
}

.endtoend__subtext {
  margin:25px 0 0 0;
}
.endtoend__img {
  object-fit: contain;
  display: block;
  width: 329px;
  margin: 24px auto 20px auto;
}
.endtoend__img--right {
  width: 360px;
  margin: 24px auto 29px auto;
}
.endtoend__list{
  margin: 9px 0 0 0;
  padding: 0 0 0 23px;
  font-weight: normal;
  font-size: 1em;
  line-height:  144%;
  color: #26666B;
  position: relative;
  list-style: none;
}

.collaborative__img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 283px;
  margin:0 auto;
}

.division-line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #D3DFE1;
  /*border: 1px solid #D3DFE1;*/
  margin: 79px 0 56px 0;
}

.explore {
  margin-bottom:40px;
}

.explore__2 {
  object-fit: contain;
  width:100%;
  height: 453px;
}

.explore__3 {
  margin:41px auto 0 auto;
}

.explore__subtitle {
  width:250px;
}

.display-small {
  display: block;
}
.display-mid {
  display: none;
}

.collaborative__title {
  text-align: center;
  margin-top: 38px;
}


.grid__block {
  margin-top: 31px;
}

.grid__titleblock {
  display: flex;
  width: 100%;
}

.grid__icon {
  width: 48px;
  height: 48px;
}

.grid__title {
  width: 178px;
  height: 48px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.333333px;
  margin:0 0 0 12px;
}

.collaborative__button {
  width:-webkit-fill-available;
  margin-top: 32px;
}
/*------------*/

.trust-bg {
  /*background-image: url("../svg/sec5_background.svg");*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin:54px auto 40px auto;
  width: 324px;
}


/*-----------------------slider--------------------------*/
.division-line--too {
  margin:46px 0;
}


.brand__logo,
.partner__logo {
  height: 60px;
  width: 138px;
  margin:0 38px;
}

.brand__logo {
  filter: grayscale(100%);
  width: 100px;
}

.brand__logo.slick-center {
  filter: grayscale(0);
}

.card-slider {
  margin-top: 84px;
}

.card.slick-slide {
  border-radius: 10px;
  background-color: #F7F7F7;
  position: relative;
  width: 390px;
  height: 372px;
  text-align: center;
  margin: 0  4px;
}

.card:hover {
  background-color: #DAFFF5;
  filter: drop-shadow(0px 3px 8px rgba(38, 102, 107, 0.142947));
}

.card__ring {
  background-image: url("../svg/card_ring.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 22px;
  margin-top: 20px;
}

.card__img {
  display: block;
  margin: 0 auto;
}

.card__text {
  font-size: 1.2em;
  line-height:  133%;
  align-items: center;
  text-align: center;
  margin-top:40px;
  margin-bottom:0;
}
.card__name {
  font-size: 1.2em;
  font-weight: bold;
  line-height:  133%;
  letter-spacing: -0.3px;
  align-items: center;
  text-align: center;
  margin-top:17px;
  margin-bottom:0;
}
.card__info {
  font-size: 1em;
  line-height: 19px;
  letter-spacing: -0.114286px;
  align-items: center;
  text-align: center;
  margin-top:0;
  margin-bottom:27px;
}

.industry-slider {
  margin-top:40px;
  margin-bottom: 82px;
}

.industry__card.slick-slide {
  width: 250px;
  height: 349px;
  filter: drop-shadow(0px 2px 4px rgba(0, 52, 61, 0.160621));
}

.industry__img {
  width:100%;
  height: 250px;
  margin:0;
  object-fit: contain;
}

.industry__name {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 21px;
}


.partner-title {
  margin-top:40px;

}.partner-slider {
  margin: 48px auto 71px auto;
}

/*-----------------------------------footer-----------------------------------*/


.footer {
  background-color: #00D8A0;
  padding-top: 32px;
  padding-bottom:48px;
}

.footer__logo {
  margin-bottom: 43px;
  display: inline-block;
  width: -webkit-fill-available;
}

.footer__koombea {
  width: 186px;
  height: 52px;
  object-fit: contain;
}

.footer__flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__block {
  width :139px;
  height: 247px;
  flex:1;
  text-align: left;
}

.footer__title {
  font-size: 18px;
  line-height: 21px;
  margin:0;
}

.footer__list {
  font-size: 16px;
  line-height: 44px;
  color: #00343D;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.footer__bottom {
  margin:53px auto 0 auto;
  clear: both;
  text-align: center;
}

.footer__call {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin:0;
}

.footer__phoneno {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.333333px;
  margin: 2px 0 26px 0;
}

.footer__logos {
  display: flex;
  justify-content: space-between;
  margin:0 auto;
  width: 168px;
}



.footer__info {
  font-size: 0.8em;
  line-height: 123%;
  text-align: center;
  color: #00343D;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 45px;
  width: 320px;
}
.footer__top {
  display: none;
}














@media only screen and (min-width: 834px) {

  .container {
    width: 780px;
  }

  .center-content-mid {
    text-align: center;
  }

  .main-title {
    font-size: 3em;
    line-height: 104%;
    letter-spacing: -0.8px;
  }
  .secondary-title {
    font-size: 2em;
    line-height: 106%;
    letter-spacing: -0.533333px;
  }
  .third-title {
    font-size: 2em;
    line-height:  106%;
    letter-spacing: -0.533333px;
  }

  /*------------------------------------nav------------------------------------------*/
  .nav {
    padding-top: 32px;
  }

  .nav__menu-toggle {
    padding: 17px 0;
  }
  .nav__phone {
    margin: 12px 0;
  }
  /*------------------------------------header------------------------------------------*/
  .nav__menu {
    margin: -32px 0 0 0; /*nega*/
  }
  .banner {
    text-align: left;
    position: relative;
    background-image: url("../images/header.png");
  }

  .banner__title {
    width: 57%;
    margin:0;
    min-height: 200px;
  }

  .banner__img {
    position: absolute;
    right: 0;
    /*top: 155px; from page top*/
    bottom:28px;
    width: auto;
  }

  .banner__ring {
    display: block;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
  }

  .banner__btn {    
    width: 170px;
    text-align: left;
    padding: 14px 40px;
    margin-bottom: 68px;
    margin-top: 41px;
  }

  .whatwedo__p {
    width: 642px;
    line-height: 26px;
    margin: 16px auto 0 auto;
  }

  .whatwedo__subtitle {
    margin-top:106px;
  }
  /* ----------------------------------body -------------------------------------------*/
  
  .section-margin {
    margin-top:65px;
  }

  .endtoend__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 46px;
    justify-content: center;
  }

  .endtoend__row.reverse {
    flex-direction: row-reverse;
  }

  .endtoend-title {
    background-image: url("../svg/endtoend_big.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 65px auto 0 auto;
    width: 658px;

  }


  .endtoend__img {
    width: 283px;
    margin: 0 42px 0 0;
  }
  .endtoend__img--right {
    width: 316px;
    margin: 0 0 0 9px;
  }
  .entoend__text {
    display: block;
    width: 316px;
  }

  .endtoend__subtitle {
    width: inherit;
  }
  
  .endtoend__subtext {
    margin:21px 0 0 0;
    width: inherit;
  }

  .endtoend__list {
    font-size: 18px;
    line-height: 28px;
    width: 287px;
    margin: 20px 0 0 0;
    padding: 0 0 0 30px;
  }

  .endtoend__button {
    margin-top: 50px;
    width: 154px;
    padding: 14px 48px;
  }



  .division-line {
    margin: 40px 0 61px 0;
  }



  .explore {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
  }

  .explore__1 {
    text-align: left;
    width: 333px;
    height: 402px;
    order:1;
  }

  .explore__title {
    margin: 14px 0 0 0;
  }

  .explore__subtitle {
    width: inherit;
    margin: 10px 0 14px 0;
  }
  .explore__text {
    width: 316px;
    font-size: 18px;
    line-height: 28px;
  }

  .explore__2 {
    height: 448px;
    width: 376px;
    object-fit: contain;
    order: 3;
    margin:0;
  }

  .explore__3 {
    order:2;
    float: left;
  }

  .display-small {
    display: none;
  }
  .display-mid {
    display: block;
  }

  .collaborative {
    text-align: center;
    clear: both;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid__block {
    /*flex: 1 0 34%;*/
    width: 290px;
    margin: 45px auto 0 auto;
  }

  .grid__titleblock {
    flex-direction: column;
  }

  .grid__icon {
    height: 75px;
    width: 75px;
  }

  .grid__title {
    height: 68px;
    margin:29px 0 0 0;
    width: inherit;
  }

  .grid__text {
    width: inherit;
    font-size: 18px;
    line-height: 28px;
  }

  .collaborative__button {
    width:234px;
  }
  .collaborative__img {
    width: 618px;
    height: 418px;
  }
  .collaborative__title {
    width: 640px;
    margin: 0 auto;
    margin-top: 31px;
  }

  .collaborative__text {
    width: 640px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .trust-bg {
    /*background-image: url("../svg/endtoend_big.svg");*/
    width: 636px;
    margin:86px auto 42px auto;
  }
  /*------------------------------------footer-----------------------*/

  .footer {
    background: url("../images/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 36px;
  }

  .footer__flex {
    width:60%;
    float:right;
  }

  .footer__logo,
  .footer__bottom {
    float:left;
    width: 30%;
    clear:none;
    text-align: left;
    margin-bottom: 0;
  }
  .footer__logos {
    width: 168px;
    margin:0;
  }

  .footer__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.3333333333px;
    color: #00343D;
    Height: 21px;
    margin-top: 15px;
  }

  .footer__list {
    font-size: 16px;
    line-height: 32px;
    opacity: 0.7;
  }

  .footer__info {
    height: 30px;
    width:202px;
    font-size: 13px;
    line-height: 15px;
    mix-blend-mode: normal;
    text-align: left;
    opacity: 0.6;
    margin-top:31px;
  }

  .footer__bottom {
    margin-top:13px;
  }

  .footer__call {
    text-align: left;
    font-size: 13px;
    line-height: 15px;
    opacity: 0.6;
  }

  .footer__phoneno {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.266667px;
    text-align: left;
  }

  .footer__top {
    width: 30px;
    height: 32px;
    border:0;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 6px 9px 5px 10px;
  
    display: block;
    position: absolute;
    right: 0;
    top:0;
  }

  .ending {
    clear:both
  }

}























  @media only screen and (min-width: 1441px) {
    .container {
      width: 1200px;
    }

    .container-big-only {
      width: 1200px;
      margin: 0 auto;
    }

    .main-title {
      font-size: 3em;
      line-height: 104%;
      letter-spacing: -0.8px;
    }
    .secondary-title {
      font-size: 2em;
      line-height: 106%;
      letter-spacing: -0.533333px;
    }
    .third-title {
      font-size: 2em;
      line-height:  106%;
      letter-spacing: -0.533333px;
    }

    /*------------------------------------nav------------------------------------------*/

    .nav {
      height: auto;
      position: absolute;
    }

    .nav__menu-toggle {
      display: none;
    }
    .nav__menu {
      position: relative;
      display: inline-flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      background: none;
      transform: none;
    }
    .nav__menu li {
      display:inline;
      padding: 12px 21px;
      font-weight: normal;
    }
    .nav__menu li a:focus {
      font-weight: bold;
    }
    .nav__menu-toggle {
      display: none;
    }
    .nav__menu .contactLink a {
      background: none;
      padding: 0;
    }
    .nav__menu .contactLink {
      margin-top: 0;
      padding-left: 40px;
    }

    /*------------------------------------header------------------------------------------*/
    .banner {
      background-image: url("../images/header-big.png");
      padding-top: 218px;
    }
    .banner__img {
      width: 490px;
      height: 490px;
      right: 90px;
    }

    .banner__btn {
      width: auto;
      margin-bottom: 87px;
    }

    .banner__title {
      font-size: 3.75em;
      line-height: 103%;
      letter-spacing: -1px; 
      min-height:186.12px;
    }

    /*-----------------------------------body------------------------*/

    .endtoend {
      margin-bottom: 53px;
    }
    .endtoend-title {
      background-image: url("../svg/endtoend_big.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 80px auto 43px auto;
    }

    .endtoend__img {
      width: 437px;
      height: 416px;
      margin-right: 164px;
    }
    .endtoend__img--right {
      width: 490px;
      height: 383px;
      margin-right: 0;
      margin-left: 100px;
    }

    .entoend__text {
      padding-top:93px;
      width: 440px;
    }

    .endtoend__text--2nd {
      padding-top:0;
      width: 402px;
    }

    .endtoend__subtext {
      width: 389px;
    }

    .endtoend__list {
      margin-top: 19px;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #26666B;
      position: relative;
      list-style: none;
      padding-left: 30px;
      width: 372px;
      height: 207px;
    }
    .endtoend__list li:before {
      content: "+";
      position: absolute;
      left: 0;
      color:#0BD8A2;
    }

    .endtoend__button {
      padding: 14px 56px;
    }



    .division-line {
      margin: 114px 0 60px 0;
    } 

    .explore__1 {
      width: 390px;
    }

    .explore__title {
      margin: 88px 0 0 0;
    }
    .explore__text {
      width: 390px;
    }

    .explore__2 {
      width: 470px;
      height: 560px;
      margin-left: 101px;
    } 


    .collaborative__img {
      width: 790px;
      height: 535px;
    }

    .collaborative__text {
      width: 790px;
    }

    .collaborative__title {
      width: 100%;
    }

    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }


    .grid__block {
      margin: 55px auto 0 auto;
    }

    .collaborative__button {
      width: 178px;
      margin-top: 48px;
    }
    /* ---------------------sliders -----------------------------------*/

    .trust-bg {
      margin:100px auto 80px auto;
    }
    
    /*------------------------------------footer-----------------------*/

    .footer__logo,
    .footer__bottom {
      float:left;
      width: 50%;
      clear:none;
      text-align: left;
      margin-bottom: 0;
    }

    .footer__flex {
      float:right;
      width: 50%;
    } 

    .footer__info {
      width:349px;
    }

  }
